/*==============================
	Define
  ==============================*/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
div{white-space:wrap;}
img {vertical-align:middle}

.fl{float:left;}
.fr{float:right;}
.fc{clear:both;}

.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}

.p0{ padding:0; }
.p1{ padding:3px; }
.p2{ padding:5px; }
.p3{ padding:8px; }
.p4{ padding:10px; }
.p5{ padding:15px; }
.p6{ padding:20px; }

.m0a{ margin:0 auto; }
.m0{ margin:0; }
.m1{ margin:3px; }
.m2{ margin:5px; }
.m3{ margin:8px; }
.m4{ margin:10px; }
.m5{ margin:15px; }
.m6{ margin:20px; }

.mt1{ margin-top:3px; }
.mt2{ margin-top:5px; }
.mt3{ margin-top:8px; }
.mt4{ margin-top:10px; }
.mt5{ margin-top:15px; }
.mt6{ margin-top:20px; }

.mb1{ margin-bottom:3px; }
.mb2{ margin-bottom:5px; }
.mb3{ margin-bottom:8px; }
.mb4{ margin-bottom:10px; }
.mb5{ margin-bottom:15px; }
.mb6{ margin-bottom:20px; }

.w1{ 	width:10%; 	}
.w2{ 	width:20%; 	}
.w3{ 	width:30%; 	}
.w4{ 	width:40%; 	}
.w5{ 	width:50%; 	}
.w6{ 	width:60%; 	}
.w7{ 	width:70%; 	}
.w8{ 	width:80%; 	}
.w9{ 	width:90%; 	}
.w10{ 	width:100%; }
.w1_{ 	width:15%; 	}
.w2_{ 	width:25%; 	}
.w3_{ 	width:35%; 	}
.w4_{ 	width:45%; 	}
.w5_{ 	width:55%; 	}
.w6_{ 	width:65%; 	}
.w7_{ 	width:75%; 	}
.w8_{ 	width:85%; 	}
.w9_{ 	width:95%; 	}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.r1{	-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;	}
.r2{	-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;	}
.r3{	-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;	}
.r4{	-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;	}
.r5{	-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;	}
.r6{	-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;	}

.rt0{
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.rb0{
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.s1{	-webkit-box-shadow:0px 0px 3px #999;-moz-box-shadow:0px 0px 3px #999;box-shadow:0px 0px 3px #999;	}
.s2{	-webkit-box-shadow:0px 0px 5px #999;-moz-box-shadow:0px 0px 5px #999;box-shadow:0px 0px 5px #999;	}
.s3{	-webkit-box-shadow:0px 0px 8px #999;-moz-box-shadow:0px 0px 8px #999;box-shadow:0px 0px 8px #999;	}
.s4{	-webkit-box-shadow:0px 0px 10px #999;-moz-box-shadow:0px 0px 10px #999;box-shadow:0px 0px 10px #999;	}
.s5{	-webkit-box-shadow:0px 0px 15px #999;-moz-box-shadow:0px 0px 15px #999;box-shadow:0px 0px 15px #999;	}
.s6{	-webkit-box-shadow:0px 0px 20px #999;-moz-box-shadow:0px 0px 20px #999;box-shadow:0px 0px 20px #999;	}

/*==============================
	Responsive Hide
	xs	Extra small devices		Phones (<768px)
	sm 	Small devices			Tablets (โฅ768px)
	md 	Medium devices			Desktops (โฅ992px)
	lg 	Large devices			Desktops (โฅ1200px)
  ==============================*/
@-ms-viewport {
  width: device-width;
}
.hidden{
  display: none !important;
}
.visible-xs,.visible-sm,.visible-md,.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .hidden-xs{
  	display: none !important;
  }
  .w10-xs{
  	width:100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  .hidden-sm{
  	display: none !important;
  }
  .w10-sm{
  	width:100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  .hidden-md{
  	display: none !important;
  }
  .w10-md{
  	width:100%;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  .hidden-lg{
  	display: none !important;
  }
  .w10-lg{
  	width:100%;
  }
}

/*==============================
	Print
  ==============================*/
@media print {
  body * {
    visibility: hidden;
  }
  .see2print, .see2print * {
    visibility: visible;
  }
  .see2print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/*==========================================
	Base
  ==========================================*/
body{
	padding:0;
	margin:0;
	background:#efeff5;
}
body, a, table, div{
	color:#353535;
	font:1em Prompt, Tahoma, Geneva, sans-serif;
	line-height:25px;
}
a{
	color:#3399FF;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
hr{
	border:0;
	border-bottom:1px solid #eee;
	margin:5px;
}
b{
	text-shadow:1px 1px 0px #eee;
}
.text{
	text-indent:25px;
	white-space:normal;
	overflow: hidden;
	text-overflow: ellipsis; /* ... */
	line-height:25px;
}
table{
	border-collapse:collapse;
	background: #fff;
}
td, th{
	padding:5px;
	border: 1px solid #CCC;
}
th a{
	color: #fff;
}

#alert{
	text-align:center;
	font-weight:bold;
	margin:10px;
	background:#FF9;
	padding:10px;
	border:1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.progressbar {
	margin: 0;
	background-color: #f3f3f3;
}
.progressbar > div {
	height: 5px;
	margin: 0;
	background-color: #59ACFF;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
						color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
						color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 			to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
						transparent 75%, transparent);
}

#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}
.box_popup{
	display:none;
	background: #FFF;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}
.popup_close{
	float: right; 
	margin: -28px -28px 0 0;
	background:url(images/close.png) no-repeat;
	width:30px;
	height:30px;
}

/*==============================
	Input
  ==============================*/ 

input, textarea, select{
	font-family: 'Prompt', sans-serif;
	width: 100%;
	font-size: 1.20em;
	padding: 5px;
	background: #fff;
	border:0;
	border-bottom: 0.5px solid #cccdcf;
	/*box-shadow: inset 0 2px 3px #e8e8e8;*/
	/*-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;	*/
}
select{
	padding: 10px;
	border:0;
}
/*input[type="checkbox"]{
    width:20px;
    height:20px;
}*/
input:focus , textarea:focus , select:focus {
    outline: none;
}